{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock title %}
{% block body %}
<img alt="..." class="img-fluid w-100 pt-1"
     class="figure-img img-fluid rounded" src="{% static 'Image/about.jpg' %}" style="height: 850px; ">


<h1 class="pt-2">About Us</h1>
<p class="pt-2">
    The 137-year-old ayurvedic company, promoted by the Burman family, started operating in 1884 as an Ayurvedic
    medicines company. From its humble beginnings in the bylanes of Calcutta, Dabur India Ltd has come a long way today
    to become one of the biggest Indian-owned consumer goods companies with the largest herbal and natural product
    portfolio in the world. Overall, Dabur has successfully transformed itself from being a family-run business to
    become a professionally managed enterprise. What sets Dabur apart from the crowd is its ability to change ahead of
    others and to always set new standards in corporate governance & innovation.
</p>
<hr>
<p1>E-mail : ayurveda_1652@gmail.com</p1>
<br>
<p1>Customer-Care : 22-215648-566</p1>


{%endblock body %}